<section>
    <div class="flex flex-col justify-end m-10">
    
        <div class="flex justify-center mb-10">
            <div>
                <h3 class="font-bold">Editar Empleado</h3>
            </div>
        </div>
    
    
        <div class="flex justify-center mt-5">
            <form [formGroup]="employeeFormEdit" (ngSubmit)="onSubmit()">
                <input type="hidden" name="_method" value="put" />
                <div class="grip grid-cols-2 gap-2 text-center w-full pb-2">
    
                    <div class="flex justify-start items-center">
                        <div class="w-2/4 justify-start"><label for="lastname" class="">Primer Apellido:</label></div>
                        <div class="w-2/4">
                            <input 
                            id="lastname" 
                            type="text" 
                            formControlName="lastname" 
                            class="border-2 border-gray-400 required:border-red-500 w-full"
                        
                            ></div>
                    </div>
                   
            </div>

            <div class="grip grid-cols-2 gap-2 text-center w-full pb-2">

                <div class="flex justify-start items-center">
                    <div class="w-2/4 justify-start"><label for="s_lastname" class="">Segundo Apellido:</label></div>
                    <div class="w-2/4"> <input 
                        id="s_lastname" 
                        type="text" 
                        formControlName="s_lastname"
                        class="border-2 border-gray-400 required:border-red-500 w-full"
                        ></div>
                </div>
        </div>
    
    
        <div class="grip grid-cols-2 gap-2 text-center w-full pb-2">
            <div class="flex justify-start items-center">
                <div class="w-2/4 justify-start"> <label for="name">Primer Nombre: </label></div>
                <div class="w-2/4"> <input 
                    id="name" 
                    type="text" 
                    formControlName="name" 
                    class="border-2 border-gray-400 required:border-red-500 w-full"
                    ></div>
            </div>
    </div>
    
    <div class="grip grid-cols-2 gap-2 text-center w-full pb-2">
        <div class="flex justify-start items-center">
            <div class="w-2/4 justify-start"> <label for="o_name">Otros Nombre: </label></div>
            <div class="w-2/4"> <input 
                id="o_name" 
                type="text" 
                formControlName="o_name"
                class="border-2 border-gray-400 required:border-red-500 w-full"
                ></div>
        </div>
</div>


<div class="grip grid-cols-2 gap-2 text-center w-full pb-2">
    <div class="flex justify-start items-center">
        <div class="w-2/4 justify-start"> <label for="nId">N° Identificación: </label></div>
        <div class="w-2/4"> <input 
            id="nId" 
            type="text" 
            formControlName="nId" 
            class="border-2 border-gray-400 required:border-red-500 w-full"
            ></div>
    </div>
</div>

<div class="grip grid-cols-2 gap-2 text-center w-full pb-2">
    <div class="flex justify-start items-center">
        <div class="w-2/4 justify-start"> <label for="email">Correo electrónico: </label></div>
        <div class="w-2/4"> <input 
            id="email" 
            type="text" 
            formControlName="email" 
            class="border-2 border-gray-400 required:border-red-500 w-full"
            ></div>
    </div>
</div>
            <div class="mt-10">
    
                <button type="submit" class="rounded-full px-4 py-2 bg-teal-600 text-white hover:bg-teal-500">Submit</button>
            </div>
            </form>
        </div>
    
          
    </div>
    </section>
    
